@import '../variable.less';

.calendar-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.calendar-cell {
  width: calc(100% / 7);
  font-size: @font-size-sm;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: @font-weight-md;
  user-select: none;
  cursor: pointer;
  font-weight: @font-weight-sm;
}

.calendar-cell-disable {
  background-color: @color-white-2;
  color: @color-gray-2;
  pointer-events: none;
}

.calendar-cell-active {
  background-color: @color-blue-2;
  color: @color-white-1;
}

.calendar-cell-normal {
  &:hover {
    background-color: @color-blue-1;
    transition: 0.2s;
  }
}

.calendar-weeks {
  height: calc(100% / 7);
  display: flex;
}

.calendar-days {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid @color-gray-1;
  border-left: 1px solid @color-gray-1;
}

.calendar-day {
  cursor: pointer;
  box-sizing: border-box;
  font-weight: @font-weight-sm;
  border-bottom: 1px solid @color-gray-1;
  border-right: 1px solid @color-gray-1;
}
